<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   nine_style_146.plist
   WXILayoutImage

   Created by meitu on 16/9/12.
   Copyright (c) 2016年 meitu. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
