<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tag</key>
	<string>124</string>
	<key>SuperViewInfo</key>
	<dict>
		<key>size</key>
		<string>{600, 600}</string>
	</dict>
	<key>SubViewArray</key>
	<array>
		<dict>
			<key>ViewTag</key>
			<string>51</string>
			<key>Top</key>
			<string>0</string>
			<key>Left</key>
			<string>0</string>
			<key>Bottom</key>
			<string>52.3,53.1,54.1,55.1,56.1</string>
			<key>Right</key>
			<string>52.2,54.4,55.2</string>
			<key>pointArray</key>
			<array>
				<string>{0,0}</string>
				<string>{300,0}</string>
				<string>{300,400}</string>
				<string>{0,400}</string>
			</array>
		</dict>
		<dict>
			<key>ViewTag</key>
			<string>52</string>
			<key>Top</key>
			<string>0</string>
			<key>Left</key>
			<string>51.4,54.4,55.2</string>
			<key>Bottom</key>
			<string>51.3,53.1,54.1,55.1,56.1</string>
			<key>Right</key>
			<string>0</string>
			<key>pointArray</key>
			<array>
				<string>{300,0}</string>
				<string>{600,0}</string>
				<string>{600,400}</string>
				<string>{300,400}</string>
			</array>
		</dict>
		<dict>
			<key>ViewTag</key>
			<string>53</string>
			<key>Top</key>
			<string>51.3,52.3,54.1,55.1,56.1</string>
			<key>Left</key>
			<string>0</string>
			<key>Bottom</key>
			<string>0</string>
			<key>Right</key>
			<string>54.2</string>
			<key>pointArray</key>
			<array>
				<string>{0,400}</string>
				<string>{150,400}</string>
				<string>{150,600}</string>
				<string>{0,600}</string>
			</array>
		</dict>
		<dict>
			<key>ViewTag</key>
			<string>54</string>
			<key>Top</key>
			<string>51.3,52.3,53.1,55.1,56.1</string>
			<key>Left</key>
			<string>53.4</string>
			<key>Bottom</key>
			<string>0</string>
			<key>Right</key>
			<string>51.4,52.2,55.2</string>
			<key>pointArray</key>
			<array>
				<string>{150,400}</string>
				<string>{300,400}</string>
				<string>{300,600}</string>
				<string>{150,600}</string>
			</array>
		</dict>
		<dict>
			<key>ViewTag</key>
			<string>55</string>
			<key>Top</key>
			<string>51.3,52.3,53.1,54.1,56.1</string>
			<key>Left</key>
			<string>51.4,52.2,54.4</string>
			<key>Bottom</key>
			<string>0</string>
			<key>Right</key>
			<string>56.2</string>
			<key>pointArray</key>
			<array>
				<string>{300,400}</string>
				<string>{450,400}</string>
				<string>{450,600}</string>
				<string>{300,600}</string>
			</array>
		</dict>
		<dict>
			<key>ViewTag</key>
			<string>56</string>
			<key>Top</key>
			<string>51.3,52.3,53.1,54.1,55.1</string>
			<key>Left</key>
			<string>55.4</string>
			<key>Bottom</key>
			<string>0</string>
			<key>Right</key>
			<string>0</string>
			<key>pointArray</key>
			<array>
				<string>{450,400}</string>
				<string>{600,400}</string>
				<string>{600,600}</string>
				<string>{450,600}</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
