<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WXILayoutImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64D1A0221D5844B400177B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D1A03B1D5844B400177B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D1A0461D5844B400177B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
